/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #E53E76;
  --ifm-color-primary-dark: #f43491;
  --ifm-color-primary-darker: #f42489;
  --ifm-color-primary-darkest: #db0b70;
  --ifm-color-primary-light: #f872b3;
  --ifm-color-primary-lighter: #f882bb;
  --ifm-color-primary-lightest: #fbb1d5;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
